<div class="section mb-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-7" data-aos="fade-up">
        <span class="subheading mb-2 d-inline-block">Articles</span>
        <h2>Dernières actualités</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
        <a href="#"><img src="images/img_v_3-min.jpg" alt="Image" class="img-fluid rounded mb-4"></a>
        <h3 class="h4 mb-3"><a href="#">Titre de l'actualité</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur, iure quidem officiis adipisci</p>
        <p class="blog-post-meta">Publié le 00/00/0000</p>
        <p class="mb-0"><a href="#" class="more">Voir plus</a></p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="200">
        <a href="#"><img src="images/img_v_4-min.jpg" alt="Image" class="img-fluid rounded mb-4"></a>
        <h3 class="h4 mb-3"><a href="#">Titre de l'actualité</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur, iure quidem officiis adipisci</p>
        <p class="blog-post-meta">Publié le 00/00/0000</p>
        <p class="mb-0"><a href="#" class="more">Voir plus</a></p>
      </div>
      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="300">
        <a href="#"><img src="images/img_v_6-min.jpg" alt="Image" class="img-fluid rounded mb-4"></a>
        <h3 class="h4 mb-3"><a href="#">Titre de l'actualité</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur, iure quidem officiis adipisci</p>
        <p class="blog-post-meta">Publié le 00/00/0000</p>
        <p class="mb-0"><a href="#" class="more">Voir plus</a></p>
      </div>
    </div>
  </div>
</div>