<div class="section mb-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-7" data-aos="fade-up">
        <span class="subheading mb-2 d-inline-block">Articles</span>
        <h2>Dernières actualités</h2>
      </div>
    </div>
    <div class="row">

      {% for article in last_three_blog_post %}
      <div class="col-md-6 col-lg-4 mb-4" data-aos="fade-up" data-aos-delay="100">
        <a href="#"><img src="images/img_v_3-min.jpg" alt="Image" class="img-fluid rounded mb-4"></a>
        <h3 class="h4 mb-3"><a href="#">{{article.title}}</a></h3>
        <p>{{article.content|u.truncate(150, '...', false)}}</p>
        <p class="blog-post-meta">Publié le {{article.createdAt|date("d-m-Y")}}</p>
        <p class="mb-0"><a href="#" class="more">Voir plus</a></p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>